html,
body,
#page,
.page
{
  position: relative;
  height: 100%;
}

.home .entry-title {
  display: none;
}

.site-main {
  padding: 20px 80px 0px 80px;
}

.edit-link {
  @include button-outline;
  font-size: 14px;
}

